ShaderDemo/ShaderDemoContent/obj/x86/Debug/takapyon_0.xml
ShaderDemo/ShaderDemoContent/obj/x86/Debug/Torus_0.xml
ShaderDemo/ShaderDemoContent/obj/x86/Debug/Sphere_0.xml
ShaderDemo/ShaderDemoContent/obj/x86/Debug/ShaderDemoContent.contentprojResolveAssemblyReference.cache
ShaderDemo/ShaderDemoContent/obj/x86/Debug/ShaderDemoContent.contentproj.FileListAbsolute.txt
ShaderDemo/ShaderDemoContent/obj/x86/Debug/ContentPipeline.xml
GameBaseLibrary/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ShaderDemo/ShaderDemo/obj/x86/Debug/cachefile-{CE0B75E4-10C2-4219-9E71-ABA358694BE1}-targetpath.txt
ShaderDemo/ShaderDemo/bin/x86/Debug/GameBaseLibrary.pdb
ShaderDemo/ShaderDemo/bin/x86/Debug/GameBaseLibrary.dll
GameBaseLibrary/obj/x86/Debug/GameBaseLibrary.pdb
GameBaseLibrary/obj/x86/Debug/GameBaseLibrary.dll
GameBaseLibrary/bin/x86/Debug/GameBaseLibrary.pdb
GameBaseLibrary/bin/x86/Debug/GameBaseLibrary.dll
GameBaseLibrary/obj/x86/Debug/GameBaseLibrary.csprojResolveAssemblyReference.cache
GameBaseLibrary/obj/x86/Debug/GameBaseLibrary.csproj.FileListAbsolute.txt
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/takapyon.xnb
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/Torus.xnb
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/Sphere.xnb
ShaderDemo/ShaderDemo/obj/x86/Debug/ShaderDemo.pdb
ShaderDemo/ShaderDemo/obj/x86/Debug/ShaderDemo.exe
ShaderDemo/ShaderDemo/bin/x86/Debug/ShaderDemo.pdb
ShaderDemo/ShaderDemo/bin/x86/Debug/ShaderDemo.exe
ShaderDemo/ShaderDemo/obj/x86/Debug/ShaderDemo.csproj.FileListAbsolute.txt
ShaderDemo/ShaderDemo/ShaderDemo.csproj.Debug.cachefile
ShaderDemo/ShaderDemo/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/NormalMap.xnb
GameBaseLibrary/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/DiffuseMap.xnb
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/Diffuse.xnb
