ShaderDemo/ShaderDemoContent/obj/x86/Debug/takapyon_0.xml
ShaderDemo/ShaderDemoContent/obj/x86/Debug/Torus_0.xml
ShaderDemo/ShaderDemoContent/obj/x86/Debug/Sphere_0.xml
ShaderDemo/ShaderDemoContent/obj/x86/Debug/ShaderDemoContent.contentprojResolveAssemblyReference.cache
ShaderDemo/ShaderDemoContent/obj/x86/Debug/ShaderDemoContent.contentproj.FileListAbsolute.txt
ShaderDemo/ShaderDemoContent/obj/x86/Debug/ContentPipeline.xml
GameBaseLibrary/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ShaderDemo/ShaderDemo/obj/x86/Debug/cachefile-{CE0B75E4-10C2-4219-9E71-ABA358694BE1}-targetpath.txt
ShaderDemo/ShaderDemo/bin/x86/Debug/GameBaseLibrary.pdb
ShaderDemo/ShaderDemo/bin/x86/Debug/GameBaseLibrary.dll
GameBaseLibrary/obj/x86/Debug/GameBaseLibrary.pdb
GameBaseLibrary/obj/x86/Debug/GameBaseLibrary.dll
GameBaseLibrary/bin/x86/Debug/GameBaseLibrary.pdb
GameBaseLibrary/bin/x86/Debug/GameBaseLibrary.dll
GameBaseLibrary/obj/x86/Debug/GameBaseLibrary.csprojResolveAssemblyReference.cache
GameBaseLibrary/obj/x86/Debug/GameBaseLibrary.csproj.FileListAbsolute.txt
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/takapyon.xnb
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/Torus.xnb
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/Sphere.xnb
ShaderDemo/ShaderDemo/obj/x86/Debug/ShaderDemo.pdb
ShaderDemo/ShaderDemo/obj/x86/Debug/ShaderDemo.exe
ShaderDemo/ShaderDemo/bin/x86/Debug/ShaderDemo.pdb
ShaderDemo/ShaderDemo/bin/x86/Debug/ShaderDemo.exe
ShaderDemo/ShaderDemo/obj/x86/Debug/ShaderDemo.csproj.FileListAbsolute.txt
ShaderDemo/ShaderDemo/ShaderDemo.csproj.Debug.cachefile
ShaderDemo/ShaderDemo/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/NormalMap.xnb
GameBaseLibrary/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/DiffuseMap.xnb
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/Diffuse.xnb
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/Tile.xnb
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/Plane.xnb
ShaderDemo/ShaderDemo/ShaderDemo_TemporaryKey.pfx
ShaderDemo/ShaderDemo/ShaderDemo_1_TemporaryKey.pfx
.vs/ShaderDemo/v14/.suo
ShaderDemo/ShaderDemoContent/obj/x86/Debug/Plane_0.xml
ShaderDemo/ShaderDemo/publish/setup.exe
ShaderDemo/ShaderDemo/publish/ShaderDemo.application
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/ja-JP/Microsoft.Xna.Framework.resources.dll.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/ja-JP/Microsoft.Xna.Framework.Game.resources.dll.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/ShaderDemo.exe.manifest
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/ShaderDemo.exe.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/ShaderDemo.application
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/GameThumbnail.png.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/GameBaseLibrary.dll.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Game.ico.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Content/takapyon.xnb.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Content/Torus.xnb.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Content/Tile_N.xnb.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Content/Tile.xnb.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Content/Sphere.xnb.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Content/Plane.xnb.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Content/NormalMap.xnb.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Content/DiffuseMap.xnb.deploy
ShaderDemo/ShaderDemo/publish/Application Files/ShaderDemo_1_0_0_0/Content/Diffuse.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/setup.exe
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/ShaderDemo.application
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/ja-JP/Microsoft.Xna.Framework.resources.dll.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/ja-JP/Microsoft.Xna.Framework.Game.resources.dll.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/ShaderDemo.exe.manifest
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/ShaderDemo.exe.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/GameThumbnail.png.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/GameBaseLibrary.dll.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Game.ico.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Content/takapyon.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Content/Torus.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Content/Tile_N.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Content/Tile.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Content/Sphere.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Content/Plane.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Content/NormalMap.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Content/DiffuseMap.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/app.publish/Application Files/ShaderDemo_1_0_0_0/Content/Diffuse.xnb.deploy
ShaderDemo/ShaderDemo/bin/x86/Debug/Content/Tile_N.xnb
